.container{
    width: 1000px;
    margin: auto;
}
table{
    margin-top: 5px;
    width: 100%;
}
td h2{
    padding: 5px 15px;
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}
td h4{
    font-weight: bold;
    font-size: 20px;
}
.row-1{
    border: 1px solid #ccc;
    border-bottom: 1px dotted #ccc;
}
.row-1 td{
    width: 50%;
    padding: 0px 15px 15px 0px;
}
.row-1 td:first-child a{
    margin-top: 25px;
}
.row-1 td:first-child a{
    display: block;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}
.row-2{
    border: 1px solid #ccc;
}
.row-2 td{
    padding: 15px;
}
.row-3 td:first-child h2{
    background: #5897dd;
}
.row-3 td:last-child h2{
    background: #e05f62;
}
.row-3 td,
.row-4 td,
.row-5 td{
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
}
.row-4 td h2{
    background: #e68d5d;
}
.row-5 img{
    width: 250px;
    margin-left: 100px ;
}
.row-5 td:first-child h2{
    background:  #4ccbc3;
}
.row-5 td:last-child h2{
    background: #daa520;
}